
{% extends 'base.html' %}

{% load static %}
{% block content %}


<!DOCTYPE html>

<html lang="">

<head>
<title>Post</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'fr/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<!--<style>-->
<!--  .abcd{-->
<!--  height:100%;-->
<!--  background-position : center;-->
<!--  background-repeat: no-repeat;-->
<!--  background-size: cover;-->
<!--  }-->
<!--</style>-->
</head>
<body id="top">



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- Top Background Image Wrapper -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->

      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">

<!--<li class="active"><a href="/">Home</a></li>-->
          {% if user.is_authenticated %}

            <li>Login {{user.username}}</li>
            <li class="active"><a href="accounts/logout">Logout</a></li>

          {% else %}
            <li class="active"><a href="accounts/login">Login</a></li>
            <li class="active"><a href="accounts/register">Register</a></li>
           {% endif %}

            </ul>
          </li>

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div  class="abcd" style="background-image:url({% static 'fr/images/demo/backgrounds/back.jpg' %});">


  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article class="center">
      <h3 class="heading underline">Login your account for adding post</h3>
      <p>Add your favourite indoor plant</p>
      <footer><a class="btn" href="http://127.0.0.1:8000/task_view">ADD POSTS</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay startlt light" style="background-image:url({% static 'fr/images/demo/backgrounds/01.png' %});">
  <section id="segment" class="hoc clear">
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'fr/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'fr/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'fr/layout/scripts/jquery.mobilemenu.js' %}"></script>

</body>
</html>

{% endblock %}